/*Common CSS */
@mixin media-break-width($media-width-min, $media-width-max) {
    @media (min-width: #{$media-width-min}px) and (max-width: #{$media-width-max}px) {
        transition: 0.5s; // animate when window resizing
        @content;
    }
}
@mixin max-media-width($media-width) {
    @media all and (max-width: #{$media-width}px) {
        transition: 0.5s; // animate when window resizing
        @content;
    }
}
@mixin min-media-width($media-width) {
    @media all and (min-width: #{$media-width}px) {
        transition: 0.5s;
        // animate when window resizing      @content    :;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        @content;
    }
}

/* Hover Transistion */
@mixin hover-transition {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

/* Custom scroll Bar */
@mixin customScrollbar {
    overflow-y: scroll;
    /* width */
    &::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: rgba(153, 153, 153, 0.2);
        border-radius: 5px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #e65c6a;
        border-radius: 5px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #74c247;
        cursor: grab;
    }
}
/* Custom Table scroll Bar */
@mixin customScrollbarTable {
    overflow-y: auto;
    /* width */
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: rgba(153, 153, 153, 0.2);
        border-radius: 5px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #e65c6a;
        border-radius: 5px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #74c247;
        cursor: grab;
    }
}

@mixin Background-image() {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}
img,
svg {
    max-width: 100%;
}

a {
    color: unset;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

button:focus {
    outline: none;
    box-shadow: none;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

button:hover {
    border: none;
}
table {
    width: 100%;
}
//Nice Select

.nice-select {
    border-radius: 15px !important;
    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    -ms-border-radius: 15px !important;
    -o-border-radius: 15px !important;
    border: none !important;
    background-color: #361a4a !important;
    .current {
        font-weight: 400;
        font-size: 14px;
        color: #ffffff;
    }
    .selected.focus{
      margin-left: 0 !important;

    }
    .list {
        max-height: 250px;
        overflow: auto;
        width: 100%;
        background-color: #361a4a !important;
        @include customScrollbar();
        li{
          &:first-child{
            margin-left: 0;
          }
        }
        .option {
            color: #ffffff;
            width: 100%;
        }
    }
    &::after {
        height: 9px;
        width: 9px;
        margin-top: -6px;
        border-color: #ffffff;
        border-width: 1.5px;
        right: 20px;
    }
}

.nice-select:active,
.nice-select.open,
.nice-select:focus {
    border: 2px solid #4c2c63 !important;
}
.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
    background-color: #4c2c63 !important;
}
//Profile Dropdown
.order_dropdwon_list {
    position: absolute;
    top: 40px;
    left: -60px;
    width: 150px;
    background: #15022a;
    z-index: 100;
    border: 1.5px solid #15022a;
    padding: 20px 15px;
    box-shadow: 0 0px 7px #ffffff91;
    @include hover-transition();
    opacity: 0;
    visibility: hidden;
    li {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    .order_dropdown_item {
        display: flex;
        align-items: center;
        gap: 10px;
        &:hover {
            opacity: 0.8;
        }

        span {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #ffffff;
        }
    }
}

.order_dropdwon_active {
    .order_dropdwon_list {
        top: 25px;
        opacity: 1;
        visibility: visible;
    }
    .order_dropdown_overlay {
        display: block;
    }
}

.order_dropdown_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: none;
}

.header_select {
    .nice-select {
        min-width: 140px;
    }
}

// Home Page
.top_bar_card_row {
    .sellar_summery_item {
        position: relative;
        background: #0e011c;
        border-radius: 15px;
        h4 {
            font-weight: 600;
            font-size: 32px;
            line-height: 48px;
            color: #ffffff;
            margin-top: 20px;
        }
        h5 {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #9ba2ab;
        }

        .sellar_summery_icon {
            margin-top: -30px;
        }

        .sellar_shape {
            position: absolute;
            right: 20px;
            bottom: 20px;
        }
        .sellar_counter_area {
            position: relative;
            z-index: 1;
            background: #0e011c;
            width: 58%;
        }
        .dot_icon {
            width: 100%;
            text-align: end;
            img {
                width: 36px;
                height: 36px;
                padding: 6px;
                border-radius: 50%;
                @include hover-transition();
                &:hover {
                    background: #4d405c;
                }
            }
        }
        .sellar_summery_icon {
            margin-top: -30px;
        }

        .sellar_shape {
            position: absolute;
            right: 20px;
            bottom: 20px;
        }
        .order_dropdwon_list {
            top: 55px;
            left: auto;
            right: 0;
        }
        .order_dropdwon_active {
            .order_dropdwon_list {
                top: 40px;
            }
        }
    }
}

.circle_chart_area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .inner_circle_chart {
        position: absolute;
        top: 25px;
    }
    .middle_text {
        position: absolute;
        top: 70px;
        text-align: center;
        h4 {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #e8e9ec;
        }
        h3 {
            font-weight: 600;
            font-size: 26px;
            line-height: 39px;
            color: #ffffff;
            margin-top: 10px;
        }
    }
    .order_status_list {
        margin-top: 30px;
        text-align: start;
        align-self: start;
        padding-left: 35px;
        li {
            position: relative;
            margin-bottom: 12px;
            &::before {
                content: " ";
                position: absolute;
                top: 4px;
                left: -25px;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
        }
        .pending_order {
            &::before {
                background-color: #f2994a;
            }
        }
        .cancel_order {
            &::before {
                background-color: #a22177;
            }
        }
        h5 {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #e8e9ec;
            span {
                font-weight: 600;
                margin-left: 12px;
            }
        }
    }
}
.accordion_wrapper {
    .accordion-item {
        border: none;
        border-bottom: 1px solid #4d1f7f;
    }

    .accordion-header {
        background: #27123e;
    }

    .accordion-button {
        color: white;
        padding: 0.5rem 0.8rem !important;
        background: #27123e;

        &::after {
            border-bottom: 1px solid #fff;
            border-right: 1px solid #fff;
            height: 11px;
            width: 11px;
            margin-top: -8px;
            border-width: 1.5px;
            background: transparent;
            transform: rotate(45deg);
            opacity: 1;
        }

        &:focus {
            border: none !important;
            box-shadow: none !important;
        }
    }

    .accordion-button:not(.collapsed)::after {
        transform: rotate(230deg) !important;
    }

    .accordion-button:not(.collapsed) {
        box-shadow: inset 0 -1px 0 #4d1f7f !important;
    }

    .accordion-body {
        color: white;
        background: #27123e;
    }
}
